*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

}
.navbartop{
    background-color: #0f3460;
}
.navbartopleft{
    
    font-size: 12px;
}
.navbartopright{
    
    font-size: 12px;
    position: relative;

}
.navbartopleft img{
    height: 36px;
}
.navbartopright a{
text-decoration: none;
color: white;
}
.navbartopright a:hover{
    color: rgb(233, 69, 96) ;
}
.navbartopright img{
width: 20px;
border-radius: 30%;
}
.language-box{
position: absolute;
top: 30px;
background-color: white;
color: black;
font-weight: 500;
width: 150px;
padding: 10px;
border-radius: 10px;
display: none;
box-shadow: 1px 1px #888888;
}
.valuta-box{
position: absolute;
top: 30px;
right: 5px;
background-color: white;
color: black;
font-weight: 500;
width: 150px;
padding: 10px;
border-radius: 10px;
display: none;
box-shadow: 1px 1px #888888;
}
.navbartopright i{
cursor: pointer;
}
.searchicon{
    z-index: 11;
    top: 14px;
    left: 15px;
    color: #aca8a8;
}
.searchinpt{
    border-radius:  19px !important;
    padding: 8px 50px;
    width: 100% !important;
}
.dropmenu{
    position: absolute;
    border: none ;
    left: 74%;
    bottom: 3px;
    border-left: 1px solid rgb(228, 227, 227);
    color: rgb(119, 119, 119) ;
}
.openmenu{
    top: 42px  !important;
}
.searchinpt:focus{
    border: 1px solid rgb(233, 69, 96) ;
    box-shadow: none !important;
}
.navicons i{
    border-radius: 50%;
    background-color: #f3f5f9;
    color: #808792;
    cursor: pointer;
}
.ctgbtn{
    background-color: #f6f9fc;
}
.ctgbtn:hover{
    background-color: #f6f9fc !important;
    border: none !important;
  
}

.bmenuright{
    font-size: 14px;
}
.bmenuright a:hover{
    color: rgb(233, 69, 96) ;
}
.applogo img{
    width: 40%;
}
footer{
    background-color: #0f3460;
    width: 100%;
}
footer a,footer p{
    color: #a4acbb;
    font-size: 14px;
}
footer h3{
    color: white;
    margin-bottom: 20px;
}
.sosialicons i{
    color: #c5c6c7;
    padding: 10px;
    background-color: #0c2a4d;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 4px;
    
}
.menuhover{
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    top: 40px;
    box-shadow: 1px 1px #888888;
    display: none;
}
.menuitem:hover .menuhover{
    display: block;
}
.menuitem li:hover{
    background-color: #f6f9fc;
}
.menuhover li{
    list-style-type: none;
    padding: 5px;
}
.menuitem li>a{
    text-decoration: none;
    color: #505050;
}
.limenuhover{
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 1px 1px #888888;
    top: 0;
    left: 170px;
    display: none;
}
.menuhover>li:hover .limenuhover{
    display: block;
}
.chevronlg{
    transition: 0.3s;
    font-size: 15px;
}
.rotate{
    transform: rotate(90deg);
}
.dropdown-item>i{
    right: 20px;
}
.menuboxf{
    position: absolute;
    display: flex;
    background-color: white;
    left: 101%;
    width: 800px;
    padding: 20px;
    top: 0%;
    display: none;
}
.menuboxf a{
    text-decoration: none;
    color: black;
    display: block;
    padding-bottom: 6px;
}
.fmenulist:hover .menuboxf{
    display: block;
}
.menuboxf a:hover{
    background-color: #f6f9fc;
}
.slidebox{
    display: flex;
    padding-top: 50px;
}
.slidebox h1{
    font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}
.slidebox p{
  margin-bottom: 30px;
}
.slidebox button{
    margin-bottom: 30px;
    width: 120px !important;
    background-color: rgb(233, 69, 96);
    color: white;
  }
.slidebox img{
    width: 100%;
}
.productslide1{
    background-color: #f6f9fc;
    position: relative;
    
}
.productslide1 .slick-dots{
    background-color: #f6f9fc;
}
.titleicons h3{
    font-weight: 700;
    margin-top: 45px;
}
.titleicons>i{
    color: #e94661;
    font-size: 22px;
    margin-right: 20px;
    margin-left: 40px;
    margin-top: 40px;
    font-weight: 700;
  
}
.cardbox{
background-color: white;
padding: 20px;
margin: 15px;
}
.cardbox h3{
    font-size: 15px;
    font-weight: 600;
}
.stars i{
color: #ffcd4e;
font-size: 14px;
}
.pricebox h3:first-child{
    color: #e94661;
}
.pricebox h3:last-child{
    text-decoration: line-through;
    color: #7d879c;
}
.discountPercentage{
    background-color: #e94560;
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 40px;
    padding: 2px 10px;
}
.addbasketbox{
position: absolute;
bottom: 20px;
right: 14px;
}
.addbasketbox i{
    color: #e94560;
    border: 1px solid #e94560;
    border-radius: 3px;
    padding: 4px;
    cursor: pointer;
}
.addbasketbox i:hover{
    background-color: #e94560;
    color: white;
}
.hovericons i{
    font-size: 19px;
    margin-bottom: 7px;
    text-align: center;
    color: #0f3460;
   
}
.hovericons{
    position: absolute;
    right: 14px;
    display: none;
}
.cardbox:hover .hovericons{
    display: block;
}
.cardbox img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
}
.cardimg{
    width: 200px;
    height: 200px;
    margin: 40px auto;
    overflow: hidden;
}
.productcards p:first-child{
position: absolute;
font-size: 10px;
color: white;
font-weight: 700;
background-color: rgb(15, 52, 96);
border-radius: 30px;
top: 4px;
left: 8px;
padding: 5px;

}
.productcards p:last-child{
    position: absolute;
    font-size: 10px;
    color: black;
    font-weight: 700;
    background-color: rgb(227, 233, 239);
    border-radius: 30px;
    top: 4px;
    right: 8px;
    padding: 5px;
    }
.topimages img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 20px 0;
}
.productcards{
position: relative;
padding: 20px;
width: 360px !important;
margin: 20px;
background-color: white;
}
.topimagesw{
    width: 200px;
    height: 100px;
    overflow: hidden;
}
.view{
    right: 30px;
    top: 40px;
    color: gray;
    cursor: pointer;
}
.ratingcard{
    text-align: center;
    width: 23%;
    margin-left: 15px;
}
.ratingcard img{
    width: 100%;
}
